<div>

  <div>Selected animal:    {{selectedAnimal}}
    <span *ngIf="selectedAnimal">
      <app-color></app-color>
    </span>
  </div>

  <div>
    <button *ngFor="let animal of animals"
            (click)="selectAnimal($event, animal)"
             mwFavorite>
      {{animal.name}}
    </button>
  </div>
  <hr>
  <div>Color from the @Input field:</div>
  <div>Pass @Output value to its parent component</div>
  <app-form-board [color]="'red'"
                  (newItemEvent)="printItemToConsole($event)"
                  [ngClass]="'belarus'"></app-form-board>
</div>
