<form [formGroup]="ivanForm" (ngSubmit)="submit()">

  <!--  type="button" disables default button behavior to prevent page reload -->
  <button type="button">Useless buton</button>
  <hr>

  <p>
    <input id="firstName" type="text" placeholder="name" formControlName="firstName">
    <span *ngIf="ivanForm.get('firstName')!.invalid   &&
                 ivanForm.get('firstName')!.touched; else validInputData">   Only Ivan please  </span>
    <ng-template #validInputData>
      <p>Looks good!</p>
    </ng-template>

  <p>
    <input id="lastName" type="text" placeholder="lastname" formControlName="lastName">
    <span *ngIf="ivanForm.get('lastName')!.invalid   &&
                 ivanForm.get('lastName')!.touched">   Only Ivanov please </span>
  </p>


  <p>
  <div formGroupName="address">
    <select formControlName="country">
      <option value=""></option>
      <option value="BLR">Belarus</option>
      <option value="PL">Poland</option>
    </select>
    <input type="text" placeholder="city" formControlName="city">
  <span *ngIf="ivanForm.get('address.country')!.invalid">   Only Belarus please </span>
  <span *ngIf="ivanForm.get('address.city')!.invalid">   Only Minsk please </span>
  </div>

  <p>
    <button type="button" class="btn btn-primary" (click)="clearTheForm()">Clear form</button>
    <button type="submit" class="btn btn-primary" [disabled]="ivanForm.invalid">Submit</button>
  </p>
</form>

<div [ngStyle]="{backgroundColor: getColor()}">
  {{status}}
</div>
